
:root {
    --main-color: #00b6ad;
    --font-color:#04706b;
    --secondary-color:#A75BFF;
}

body {
    background: var(--main-color);
    font-family: 'Raleway', Arial, sans-serif;
}

.container {
    max-height: 500px;
    overflow: scroll;
}

#content {
    border: white solid 1px;
    border-radius: 7px;
    box-shadow: 0px 0 20px 1px #A75BFF;
    width: 360px;
    height: 250px;
}

#content>img {
    border-radius: 7px;
}

#createAd {
    border-radius: 10px;
    background: #fff;
}

#spacing {
    margin-right: 10px;
}

.navbar-default {
    background: transparent!important;
    border: none!important;
}

.navbar-brand {
    color: var(--font-color)!important;
    font-family: 'Raleway', Arial, sans-serif!important;
}

.navbar-brand:hover {
    color:var(--secondary-color)!important;
}

.navbar-nav>li>a {
    color: var(--font-color)!important;
    font-family: 'Raleway', Arial, sans-serif!important;
}

.navbar-nav>li>a:hover{
    color:var(--secondary-color)!important
}

#searchSpecial {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.col-md-12 {
    padding: 0;
}

h1, h2{
    color: #fff;
}

p{
    color:#333;
}

.col-md-6 {
    padding: 0 1px;
}

#titleProfile>h2:nth-child(3) {
    margin-top: 0px;
}

#titleProfile{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-success {
    background: var(--secondary-color)!important;
}

.borderBox, .borderBox2 {
    border:white solid 2px;
    border-radius: 10px;
    margin: 2px;
    height: 170px;
    max-height: 170px;
    overflow:scroll;
}

.borderBox {
    padding-left: 3em;
}

.borderBox2 {
    padding-left: 1em;
}

.borderBox3 {
    border:white solid 2px;
    border-radius: 10px;
    margin: 2px;
    padding-left: 3em;
}

.borderBox4 {
    position: relative;
    margin-top: .7em;
}

.borderBox4:after {
    content: '';
    height: 90%;
    width: 1px;
    position: absolute;
    left: -8px;
    top: 3px;

background-color: var(--secondary-color);
}

#borderBoxUnique {
    border:white solid 2px;
    border-radius: 10px;
    padding: 5px 15px;
}

.commentCSS {
    border:var(--secondary-color) solid 2px;
    border-radius: 10px;
    padding: 5px 40px;
    margin: 2px;
}
.commentCSS>p:first-of-type {
    color: #fff;
}

.votes>form {
    margin: 0;
}

.glyphicon {
    color: #fff;
    width: 22px;
    height: 23px;
}

#glyphComment {
    width: 22px;
    height: 7px;
}

.votes {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-right: 3px;
}

.votesC {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-right: 3px;
}

#likeMachine {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 104px;
    left: 15px;
}

#likeMachine2{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 104px;
    left: 15px;
}

#likeMachineC {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 37px;
    left: 10px;
}

.commentContainer {
    position: relative;
}

#createH {
    color:#333;
}

#hyper {
    color:white;
}

#hyper2 {
    color:white;
}

#hyper:hover {
    color:var(--secondary-color);
}

.buttonChange {
    display: flex;
}

#commentBox {
    display: none;
}

.buttonRestyle {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
